attrs                     23.2.0
jsonschema                4.21.1
jsonschema-specifications 2023.12.1
ocpp                      0.26.0
pip                       24.0
referencing               0.34.0
rpds-py                   0.18.0
setuptools                65.5.0
websockets                12.0
